<h1>Categories</h1>
<br>

<table class="catalog">
    
        <!--Below is a test of how categories will be displayed using row and col in bootstrap-->
        <!--Change ruby code below to have the same classes as this and delete this, once categories are in DB -->
        <h2>Catalog</h2>
      
    <% @categories.each do  |category| %>
    <tr>
        <td> 
        <div class="category">
            <h2><%= category.name %></h2>
            
            <p><%= image_tag category.image_url, :style => "height:100px" %></p>
            <p><%= category.description %></p>
        </div>
        </td>
        
    </tr>
    <% end %>
</table>